.git
.gitignore

node_modules
vendor

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

.env
.env.*

docker-compose.yml
docker-compose.prod.yml

tests

.vscode
.idea

npm-debug.log
yarn-error.log

README.md

